html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Scroll çubuğunu kaldırır */
}
video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.overlay {
  display: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Hafif karartma efekti */
}
.controls {
  position: absolute;
  bottom: 50px;
  left: 150px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.controls input,
.controls label {
  display: inline-block;
  margin: 0 10px;
}
h3 {
  position: absolute;
  z-index: 100px;
  color: white;
  left: 40%;
  top: 40%;
  font-size: 48px;
}
